* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  width: calc(100% - 32px * 2);
  margin: 120px auto;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

th,
tr {
  border: 1px solid #000;
  padding: 1em 4em;
  position: relative;
}

thead {
  background: #ead3d1;
}

.sortButton {
  position: absolute;
  top: 53%;
  right: 48px;
  transform: translateY(-50%);
  cursor: pointer;
}
